*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}


body{
    background-image: url(https://media.istockphoto.com/photos/colorful-background-red-blue-and-yellow-orange-colors-abstract-modern-picture-id1332601848?b=1&k=20&m=1332601848&s=170667a&w=0&h=_zrnj0NBLjjuMfPvSqxEHn2-oVlExHhOPXP9HsOO_eI=);
    background-repeat: no-repeat;
    background-size: cover;


}
.login{
    width: 400px;
    top: 10%;
    left: 40%;
    font-size: xx-large;
    position: absolute;
    border: 5px solid rgba(0, 0, 0, 0.628);
    padding: 10px;
    
    
   

}
.login h1{
    color:rgba(23, 9, 9, 0.800);
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    margin: 0px 0px;
    

}
.login form p{
    /* text-align: center; */
    font-size: 40px;
    margin: 20px 0px;
    
}
.login input {

    font-size: 30px;
    /* margin-left: 45px; */
    border: 0px;
    background-color: rgba(236, 184, 86, 0.907);
    border-radius: 5px;
    /* padding: 10px 10px; */
    color: black;
}
.login button{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 130px;
    padding: 10px;
    border: 0px;
    background-color: rgba(236, 184, 86, 0.907);
    cursor: pointer;
    

}
.login button:hover{
   color: orangered;
   background-color:rgba(255, 68, 0, 0.36);
   
}

